{
	"language": "portuguese",
	"check_every_x_minutes": 15,
	"servers": [
		{
			"minecraft": {
				"type": "minecraft",
				"instanceId": "",
				"port": 25565,
				"awsRegion": "",
				"sshUser": "",
				"sshKeyPath": "",
				"modpackLink": "",
				"closeScriptPath": "",
				"permittedRoles": [
					"minecraft_whitelist"
				]
			}
		}
	]
}